main > * {
    background-color: goldenrod;
    padding: 10px;
    font-size: 3em;
}

/* PASOS:
1. Definir el contenedor como GRID.
2. Dar nombre a los elementos a distriguir en el
contenedor grid.
3. Definir la disposición de los elementos en el
contenedor grid con la propiedad grid-template-areas
en caso de querer dejar libre un hueco, se puede poner
un . (punto) en esa posición. */
/* Definimos el GRID container */
/* Primero se define el grid container y una vez
definidos los nombres de los elementos del HTML
serán agregados en la disposición que deseemos en
el contenedor */
.contenedor-principal {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "footer"
        "contenido"
        "izquierda"
        "derecha"
        "header";
}

/* Desktop */
@media (min-width: 500px) {
    .contenedor-principal {
        grid-template-areas:
        "header header header"
        "contenido izquierda derecha"
        "footer footer .";
    }
}

/* Nombramos los elementos */
header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

article {
    grid-area: contenido;
}

aside:last-of-type {
    grid-area: derecha;
}

footer {
    grid-area: footer;
}
